.oprt-button-prod {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  height: 20px;
  color: #1da57a;
  cursor: pointer;
}

.detail-btn-prod-home {
  margin-right: 15px;
}

.back-btn-add-update,
.back-btn-detail {
  font-size: 20px;
}

.card-title-select {
  width: 120px;
}

//!important增加权重，防止样式被覆盖
.card-title-input {
  width: 160px !important;
  margin: 0 10px !important;
}

.list-item-title {
  font-size: 20px;
}